.benefits {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  @media screen and (max-width: 768px) {
    justify-content: center;
  }
  @include mobile {
    margin-top: 25px;
  }
  @include tablet {
    margin-top: 14px;
  }
  @include desktop {
    margin-top: 34px;
  }
}

.benefits-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  @include mobile {
    width: 450px;
  }
  @include tablet {
    flex-basis: calc((100% - 30px) / 2);
    height: 100%;
  }
  @include desktop {
    flex-basis: calc((100% - 90px) / 3);
    height: 100%;
  }
}

.benefits-list:hover .benefits-item__top-text {
  transform: translateY(0);
  display: flex;
}

.benefits-item__card {
  display: flex;
  position: relative;
  overflow: hidden;
}

.benefits-item__top-text {
  @include font(18px, 400, 1.56);
  @media screen and (max-width: 350px) {
    font-size: 16px;
  }
  font-family: "Roboto";
  font-style: normal;
  position: absolute;
  top: 0;
  color: var(--hero-title-color);
  background: rgba(33, 150, 243, 0.9);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  height: 100%;
  line-height: calc(28 / 18);
  text-align: left;
  padding: 63px 24px;
  display: flex;
  align-items: center;
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.benefits-list__link {
  display: flex;
  display: inline-block;
  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.benefits-list__content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.benefits-content {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  display: flex;
  flex-grow: 1;
}

.benefits-content__title {
  @include font(18px, 700, 2, 0.06em);
  color: var(--main-title-color);
  margin-bottom: 4px;
  display: flex;
}

.benefits-content__text {
  @include font(16px, 400, 1.88);
  color: var(--main-text-color);
  display: flex;
}

.current {
  color: var(--hero-btn-color);
}
