.gallery {
  display: none;
  @include desktop {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
}

.gallery-title {
  padding-top: 60px;
  @include mobile {
    padding-bottom: 30px;
    margin: 0;
  }
  @include desktop {
    padding-bottom: 50px;
    margin: 0;
  }
}

.gallery-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.gallery-list__item {
  position: relative;
}

.gallery-list__label {
  @include font($lh: 1.14);
  // font-weight: 700;
  // font-size: 14px;
  // line-height: 1.14;
  // letter-spacing: 0.03em;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  text-align: center;
  color: #ffffff;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  text-align: center;
  padding: 27px 0;
}
