.hero .container {
  display: flex;
  width: 100%;
  padding: 0;
}

.hero {
  background-color: #2f303a;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1600px;
  height: 100%;
  @media screen and (min-width: 320px) {
    width: 100%;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../img/hero-bg-mobile.jpg);
  }
  @media screen and (min-width: 768px) {
    width: 100%;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../img/hero-bg-tablet.jpg);
  }
  @media screen and (min-width: 1200px) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../img/hero-bg.jpg);
    margin: 0 auto;
    padding: 200px 0;
  }
}

.title {
  @include font($fs: 36px, $lh: 1.17);
  // font-weight: 700;
  // font-size: 36px;
  // line-height: 1.17;
  // letter-spacing: 0.03em;
  display: inline-block;
  width: 100%;
  text-align: center;
  color: var(--main-title-color);
  margin-bottom: 50px;
}

.hero-list {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  flex-wrap: wrap;
}

.hero-list__title {
  text-transform: uppercase;
  color: var(--hero-title-color);
  text-align: center;
  height: auto;
  margin-bottom: var(--typical-margin);

  @media screen and (min-width: 480px) {
    @include font($fs: 26px, $fw: 900, $lh: 1.62, $ls: 0.06em);
    max-width: 360px;
    padding-top: 118px;
  }

  @media screen and (min-width: 1200px) {
    @include font($fs: 44px, $fw: 900, $lh: 1.36, $ls: 0.06em);
    max-width: 696px;
  }
}

.hero-list__btn {
  cursor: pointer;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: var(--hero-btn-color);
  display: inline-block;
  padding: 10px 32px;
  margin: 0 auto;
  margin-bottom: 118px;
  border: none;
  border-radius: 4px;
  &:hover,
  &:focus {
    background: #188ce8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
