.logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.19;
  color: var(--accent-color);
  display: flex;
  align-items: center;
  @include mobile {
    margin-right: 10px;
  }
  @include tablet {
    margin-right: 88px;
  }
  @include desktop {
    margin-right: 93px;
  }
}

.header-link {
  display: flex;
  justify-content: space-around;
}

.logo-text {
  color: var(--main-title-color);
}

.logo-footer {
  color: var(--hero-title-color);
}
