.backdrop {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  transition: opacity 300ms, visibility 300ms;
}

.modal {
  width: 528px;
  background-color: #ffffff;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 300ms;
  padding: 40px;
  .backdrop.is-hidden & {
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
  }
}

.modal-close-btn {
  position: absolute;
  right: 8px;
  top: 8px;
  border: none;
  background-color: inherit;
}

.modal-close-icon {
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px;
  &:hover,
  &:focus {
    fill: #2196f3;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.no-scroll {
  overflow: hidden;
}

.form-title {
  @include font($fs: 20px, $lh: 1.15);
  // font-weight: 700;
  // font-size: 20px;
  // line-height: 1.15;
  // letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 12px;
}

.form-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 10px;
}

.form-label {
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}

.form-input {
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  &:focus {
    border: 1px solid #2196f3;
    border-radius: 4px;
  }
}

.form-group input::placeholder {
  @include font($fw: 400, $lh: 1.14, $ls: 0.01em);
  // font-weight: 400;
  // font-size: 14px;
  // line-height: 1.14;
  // letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.input-wrap {
  position: relative;
  outline: none;
}

.modal-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  .form-input:focus + & {
    fill: var(--accent-color);
  }
}

.form-area {
  margin-bottom: 20px;
}

textarea {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  padding: 12px 16px;
}

.form-text:focus {
  border: 1px solid #2196f3;
  border-radius: 4px;
}

.form-check {
  display: block;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-check {
  width: 16px;
  height: 15px;
}

.check-text {
  @include font(0, 400, 0, 0);
  color: #757575;
  // font-weight: 400;
  // font-size: 14px;
  // line-height: 1.71;
  // letter-spacing: 0.03em;
  display: flex;
  align-items: center;
  margin-right: 4px;
}

.check-text::before {
  content: "";
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 3px;
  margin-right: 8.38px;
  .input-check:checked + & {
    background-color: var(--accent-color);
    background-image: url(../img/checked.svg);
    border: none;
    background-repeat: no-repeat;
    background-position: center;
  }
  .input-check:focus + &::before {
    border-color: var(--accent-color);
  }
}

.check-terms {
  @include font(400);
  // font-weight: 400;
  // font-size: 14px;
  // line-height: 1.71;
  // letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: var(--accent-color);
}

.btn-modal {
  background-color: #188ce8;
  color: #ffffff;
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  display: inline-block;
  padding: 10px 55px;
  margin: 0 auto;
  border: none;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  &:hover,
  &:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}
