body {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  color: var(--main-title-color);
}

.container {
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.menu-container {
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.title {
  @include font($fs: 36px, $lh: 1.17);
  text-align: center;
  color: var(--main-title-color);
  @media screen and (max-width: 1200px) {
    padding-bottom: 30px;
  }
  @media screen and (min-width: 1200px) {
    padding-bottom: 50px;
  }
}

.hidden-title {
  width: 1px;
  height: 1px;
  overflow: hidden;
  opacity: 0;
  margin: -1px;
}

.now-scroll {
  overflow: hidden;
}
