body {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  color: var(--main-title-color);
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.hidden-title {
  width: 1px;
  height: 1px;
  overflow: hidden;
  opacity: 0;
  margin: -1px;
}
