:root {
  --accent-color: #2196f3;
  --hero-btn-color: #2196f3;
  --hero-title-color: #ffffff;
  --main-title-color: #212121;
  --main-text-color: #757575;
  --typical-margin: 30px;
}

/* основной цвет шрифта черный #212121 */
/* вспомогательный текст черный #757575 */
/* цвет шрифта героя белый #FFFFFF */
/* цвет шрифта акцента голубой #2196F3 */
/* цвет фона светло-серый #E5E5E5 */
/* цвет фона героя и футера черный #2F303A */
/* цвета логотипа голубой #2196F3 и черный #000000 */

$accent-color: #2196f3;
$hero-btn-color: #2196f3;
$hero-title-color: #ffffff;
$main-title-color: #212121;
$main-text-color: #757575;
$typical-margin: 30px;
